{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name new-calendar,
   :params [id],
   :result
   [:record
    :calendar/calendar
    [[:id :keyword]
     [:events
      [:map
       :keyword
       [:record
        :calendar/event
        [[:id :keyword] [:start :i64] [:end :i64]]]]]]],
   :effects #{},
   :body
   (record-new
    [:record
     :calendar/calendar
     [[:id :keyword]
      [:events
       [:map
        :keyword
        [:record
         :calendar/event
         [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
    id
    (typed-map-new
     [:map
      :keyword
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]])),
   :param-types [:keyword]}
  {:name new-event,
   :params [id start end],
   :result
   [:record
    :calendar/event
    [[:id :keyword] [:start :i64] [:end :i64]]],
   :effects #{},
   :body
   (record-new
    [:record
     :calendar/event
     [[:id :keyword] [:start :i64] [:end :i64]]]
    id
    start
    end),
   :param-types [:keyword :i64 :i64]}
  {:name add-event,
   :params [calendar event],
   :result
   [:record
    :calendar/calendar
    [[:id :keyword]
     [:events
      [:map
       :keyword
       [:record
        :calendar/event
        [[:id :keyword] [:start :i64] [:end :i64]]]]]]],
   :effects #{},
   :body
   (let
    [events
     (record-get
      [:record
       :calendar/calendar
       [[:id :keyword]
        [:events
         [:map
          :keyword
          [:record
           :calendar/event
           [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
      calendar
      :events)
     id
     (record-get
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]
      event
      :id)]
    (record-assoc
     [:record
      :calendar/calendar
      [[:id :keyword]
       [:events
        [:map
         :keyword
         [:record
          :calendar/event
          [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
     calendar
     :events
     (typed-map-assoc
      [:map
       :keyword
       [:record
        :calendar/event
        [[:id :keyword] [:start :i64] [:end :i64]]]]
      events
      id
      event))),
   :param-types
   [[:record
     :calendar/calendar
     [[:id :keyword]
      [:events
       [:map
        :keyword
        [:record
         :calendar/event
         [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
    [:record
     :calendar/event
     [[:id :keyword] [:start :i64] [:end :i64]]]]}
  {:name event-by-id,
   :params [calendar id],
   :result
   [:option
    [:record
     :calendar/event
     [[:id :keyword] [:start :i64] [:end :i64]]]],
   :effects #{},
   :body
   (typed-map-get
    [:map
     :keyword
     [:record
      :calendar/event
      [[:id :keyword] [:start :i64] [:end :i64]]]]
    (record-get
     [:record
      :calendar/calendar
      [[:id :keyword]
       [:events
        [:map
         :keyword
         [:record
          :calendar/event
          [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
     calendar
     :events)
    id),
   :param-types
   [[:record
     :calendar/calendar
     [[:id :keyword]
      [:events
       [:map
        :keyword
        [:record
         :calendar/event
         [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
    :keyword]}
  {:name events-count,
   :params [calendar],
   :result :i64,
   :effects #{},
   :body
   (typed-map-count
    [:map
     :keyword
     [:record
      :calendar/event
      [[:id :keyword] [:start :i64] [:end :i64]]]]
    (record-get
     [:record
      :calendar/calendar
      [[:id :keyword]
       [:events
        [:map
         :keyword
         [:record
          :calendar/event
          [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
     calendar
     :events)),
   :param-types
   [[:record
     :calendar/calendar
     [[:id :keyword]
      [:events
       [:map
        :keyword
        [:record
         :calendar/event
         [[:id :keyword] [:start :i64] [:end :i64]]]]]]]]}
  {:name overlaps?,
   :params [left right],
   :result :bool,
   :effects #{},
   :body
   (let
    [left-start
     (record-get
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]
      left
      :start)
     left-end
     (record-get
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]
      left
      :end)
     right-start
     (record-get
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]
      right
      :start)
     right-end
     (record-get
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]
      right
      :end)]
    (if
     (< left-start left-end)
     (if
      (< right-start right-end)
      (if
       (< left-start right-end)
       (if (< right-start left-end) true false)
       false)
      false)
     false)),
   :param-types
   [[:record
     :calendar/event
     [[:id :keyword] [:start :i64] [:end :i64]]]
    [:record
     :calendar/event
     [[:id :keyword] [:start :i64] [:end :i64]]]]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [new-calendar new-event add-event event-by-id events-count overlaps?],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
