{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name event-valid?,
   :params [event],
   :result :bool,
   :effects #{},
   :body
   (if
    (<
     (record-get
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]
      event
      :start)
     (record-get
      [:record
       :calendar/event
       [[:id :keyword] [:start :i64] [:end :i64]]]
      event
      :end))
    true
    false),
   :param-types
   [[:record
     :calendar/event
     [[:id :keyword] [:start :i64] [:end :i64]]]]}
  {:name valid-events-loop,
   :params [events index],
   :result :bool,
   :effects #{},
   :body
   (if
    (=
     index
     (typed-map-count
      [:map
       :keyword
       [:record
        :calendar/event
        [[:id :keyword] [:start :i64] [:end :i64]]]]
      events))
    true
    (option-match
     [:option
      [:vector
       [:keyword
        [:record
         :calendar/event
         [[:id :keyword] [:start :i64] [:end :i64]]]]]]
     (typed-map-entry-at
      [:map
       :keyword
       [:record
        :calendar/event
        [[:id :keyword] [:start :i64] [:end :i64]]]]
      events
      index)
     false
     entry
     (if
      (event-valid?
       (hetero-vector-at
        [:vector
         [:keyword
          [:record
           :calendar/event
           [[:id :keyword] [:start :i64] [:end :i64]]]]]
        entry
        1))
      (valid-events-loop events (+ index 1))
      false))),
   :param-types
   [[:map
     :keyword
     [:record
      :calendar/event
      [[:id :keyword] [:start :i64] [:end :i64]]]]
    :i64]}
  {:name valid?,
   :params [calendar],
   :result :bool,
   :effects #{},
   :body
   (let
    [events
     (record-get
      [:record
       :calendar/calendar
       [[:id :keyword]
        [:events
         [:map
          :keyword
          [:record
           :calendar/event
           [[:id :keyword] [:start :i64] [:end :i64]]]]]]]
      calendar
      :events)
     count
     (typed-map-count
      [:map
       :keyword
       [:record
        :calendar/event
        [[:id :keyword] [:start :i64] [:end :i64]]]]
      events)]
    (if (< 8 count) false (valid-events-loop events 0))),
   :param-types
   [[:record
     :calendar/calendar
     [[:id :keyword]
      [:events
       [:map
        :keyword
        [:record
         :calendar/event
         [[:id :keyword] [:start :i64] [:end :i64]]]]]]]]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports [event-valid? valid?],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
